.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer,
.footer h1,
.footer p {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(221, 219, 219);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer h1 {
    text-align: center;
    font-size: 30px;
}

.footer p {
    font-size: 18px;
    margin-bottom: 20px;
}